* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: rgb(225, 225, 225);
  color: rgb(47, 47, 47);
}

.wrapper {
  padding-bottom: 30px;
}

.container {
  padding-left: 6%;
  padding-right: 6%;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.header__title {
  font-size: 3rem;
}

.header__img {
  width: 200px;
}

.sep {
  display: block;
  width: 100%;
  border: none;
  border-bottom: solid;
  border-color: rgb(55, 55, 55);
  margin: 30px 0;
}

/* SECTION */
.section {
  background-color: white;
  border-radius: 7px;
  padding: 40px;
  text-align: center;
}

.section__btn {
  background-color: rgb(45, 97, 255);
  padding: 15px 30px;
  font-size: 1.2rem;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

.section__btn:hover {
  background-color: rgb(69, 115, 255);
}

.section__btn:active {
  background-color: rgb(14, 69, 234);
}

.section__title {
  font-size: 1.7rem;
  font-weight: bold;
}

/* MISSION */

.mission {
  background-color: white;
  border-radius: 7px;
  padding: 40px;
  margin-bottom: 30px;
}

.down-arrow-cont {
  display: flex;
  justify-content: center;
}

.down-arrow-cont img {
  width: 100px;
}

.mission__title {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}

.mission__cont {
  display: flex;
}

.mission__cont-img img {
  width: 200px;
}

.mission__label{
  font-weight: bold;
}

.mission__text {
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .mission__cont{
    flex-direction: column;
  }

  .mission__cont-img {
    display: flex;
    justify-content: center;
  }

  .mission__cont-info {
    text-align: center;
  }
}